.rbc-header {
    font-size: 14px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    border:none ;
    height: 36px !important;
}

.rbc-allday-cell {
    @apply hidden;
}

.rbc-time-header-cell, .rbc-today {
    background-color: white !important;
}

/* Causing page overflow */
.rbc-time-view-resources .rbc-time-header-content {
    min-width: 300px;
}

.rbc-time-slot {
    /*color: #74a4c3;*/
    z-index: 1;
}

.rbc-time-content {
    border-top: 1px solid #ddd;
}

.rbc-timeslot-group {
    min-height: 100px !important;
    min-width: 90px !important;
    align-items: center;
}

.rbc-time-header-gutter {
    min-width: 91px !important;
}

/*Event Styles*/
.rbc-event,
.rbc-background-event {
    z-index: 2;
    padding: 0px !important;
    border: 2px solid transparent !important;
    background-color: transparent !important;
    border-radius: 8px !important;
}

.rbc-event-label {
    display: none !important;
}

.rbc-events-container {
    margin: 0 2px !important;
    border: none !important;
    /*width: 100% !important;*/
}

.rbc-current-time-indicator {
    background-color: indianred;
    height: 1.5px;
}


/*Timeslots Customization*/
/*.rbc-day-slot .rbc-time-slot:after {*/
/*    content: "";*/
/*    width: 100%;*/
/*    border-top: 1px solid #9ca3af;*/
/*    display: block;*/
/*}*/